<app-toast  [iconStatus]="_toastService.iconToastStatus" [title]="_toastService.toastTitle" [showToastSuccess]="_toastService.showToastSuccess"></app-toast>
<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-gray-900 dark:text-white">Dashboards</h3>
      <div class="space-x-1 text-xs font-medium text-gray-400 dark:text-night-300">
        <a href="" class="hover:text-primary-500">Dashboards</a>
        <span> - approve</span>
      </div>
    </div>
  </div>
  <div>
    <form class="my-10 space-y-6">
      <div>
        <h2 class="mb-1 text-3xl font-semibold text-gray-700 dark:text-white">
          Approve <span class="text-primary-500">!</span>
        </h2>
      </div>
      <div admin-table [listTransaction]="listTransaction" (approveChildFirst)='approveRoot($event)' class="md:col-span-2 xl:col-span-3"></div>
    </form>
  </div>
</div>
